spring:
  datasource:
    url: jdbc:h2:mem:message-server-db
    username: sa
    password: password
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  cloud:
    openfeign:
      client:
        config:
          account-notification-api:
            connectTimeout: 2100
            readTimeout: 5000
            loggerLevel: full
app:
  feign-client:
    account:
      notification:
        api:
          url: https://httpstat.us/200
